/* Color */
$black: #000000;
$white: #FFFFFF;
$pattens-blue: #d5eeff;
$endeavour: #005689;
$curious-blue: #007cb9;
$aqua-blue: #eaf6f6;
$emerald: #10b981;
$slate: #334155;
$off-white: #f1f5f9;
$light-blue-grey: #cbd5e1;
$lighter-grey: #f0f0f0;
$pastel-green: #7dd87d;
$vibrant-red: #f83e4b;
$light-cyan: #bae8e8;

/* Icons Color */
$react-blue: #61DAFB; 
$node-green: #339933; 
$mongo-green: #47A248; 
$aws-orange: #FF9900;

/* Font */
$nunito: 'Nunito', sans-serif;
