@use '/src/styles/variable' as *;

.header-container {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 1000;
}

.header-title {
    h1 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
    }

    a {
        color: $black;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
}

.header-menu {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;

    a {
        text-decoration: none;
        color: $black;
        font-weight: 500;
        padding: 0 15px;
        height: 40px;
        display: flex;
        align-items: center;

        &:hover {
            color: $curious-blue;
        }

        &.active-menu {
            color: $curious-blue;
        }
    }
}

.desktop-title {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: $endeavour;
}

.mobile-logo {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: $black;
}

.mobile-menu-icon {
    display: none;
}

.lang-switch {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 20px;
    padding-left: 20px;

    span {
        cursor: pointer;
        color: $black;
        font-weight: 600;
        transition: color 0.2s;

        &:hover {
            color: $curious-blue;
        }
    }

    .separator {
        cursor: default;
        color: $lighter-grey;

        &:hover {
            color: $lighter-grey;
        }
    }
}

.active-lang {
    color: $curious-blue !important;
    font-weight: 800;
}

@media (max-width: 768px) {
    .header-container {
        padding: 0 20px;
    }

    .desktop-title {
        display: none;
    }

    .mobile-logo {
        display: block;
        width: auto;
        height: 40px;
        z-index: 999;
        object-fit: contain;
    }

    .mobile-menu-icon {
        display: block;
        font-size: 1.5rem;
    }

    .header-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: auto;
        background-color: $white;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        padding: 20px 0;
        gap: 20px;
        transform: translateY(-150%);
        transition: transform 0.3s ease-in-out;
        z-index: 998;
        overflow-y: auto;

        a {
            width: 100%;
            justify-content: center;
            font-size: 1.1rem;
        }

        &.active {
            transform: translateY(0);
        }
    }

    .lang-switch {
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: center;
    }
}
