@use '/src/styles/variable' as *;

.loading-state {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #000000;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid $curious-blue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}
