.footer-container {
    background-color: #8594e4;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 20px 100px;
}

/* Address */
.address-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address-title {

}

.address-section p {
    margin: 0;
}

/* Connect */
.connect-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect-title {

}

.socials a {
    color: #FFFFFF;
    margin: 0 10px;
    font-size: 24px;
}

/* Contact */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {

}

.contact-section ul {
    list-style: none;
    margin: 0;
}