@use '/src/styles/variable' as *;

.footer-container {
    background-color: $endeavour;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 100px;
    flex-wrap: wrap;
    gap: 20px;
}

/* Address */
.address-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 200px;
}

.address-title {
    color: $white;
}

.address-title h3 {
    color: $white;
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 700;
}

.address-section p {
    font-size: 0.95rem;
    line-height: 1.6;
    text-align: center;
}

/* Connect */
.connect-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 200px;
}

.connect-title {
    color: $white;
}

.connect-title h3 {
    color: $white;
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 700;
}

.socials {
    display: flex;
    gap: 15px;
}

.socials a {
    color: $white;
    font-size: 24px;
    display: flex;
}

.socials a:hover {
    color: $lighter-grey;
    transform: translateY(-3px);
}

/* Contact */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 200px;
}

.contact-title {
    color: $white;
}

.contact-title h3 {
    color: $white;
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 700;
}

.contact-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-section ul li {
    font-size: 0.95rem;
    line-height: 1.6;
    text-align: center;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        gap: 40px;
    }

    .address-section, .connect-section, .contact-section {
        min-width: 100%;
        text-align: center;
    }

    .socials a {
        padding: 5px;
        font-size: 28px;
    }
}
