@use '/src/styles/variable' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background-color: white;
}

.content {
    flex: 1;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 20px;
}

.footer {
    width: 100%;
}

@media (max-width: 768px) {
    .header {
        height: 70px;
    }

    .content {
        margin-top: 70px;
    }
}
