.layout-container {
    width: 100%;
    height: 100%;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}